<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) @2020 Webank Group Holding Limited
  ~ <p>
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License. You may obtain a copy of the License at
  ~ <p>
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ <p>
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License
  ~ is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
  ~ or implied. See the License for the specific language governing permissions and limitations under
  ~ the License.
  -->

<Configuration status="info" monitorInterval="60">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %c{1}(%F:%L) - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<AsyncLogger name="cn.webank.dockin" level="debug"/><!-- 有时候可以设置为debug -->
		<Root level="info" includeLocation="true">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>